discord/*
neofetch/*
youtube-tui/* 
copyq/*
systemd/*
qutebrowser/autoconfig.yml
pulse/*
luakit/*
go/*
discord/*
dconf/*
browsh/*
autostart/*
Vial/*
Raspberry Pi/*
QtProject.conf
*_scrot.png
user-dirs.*
wl-clipboard
