* {
  /*border-radius: 5;*/
  font-family: "Terminess Nerd Font";
  font-weight: 600;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: rgba(22,22, 30, 0.7);
  color: white;
  border: #1d202e solid 2px;
  border-radius: 5px;
}

#workspaces {
  background-color: #1d202e;
  margin: 5px;
  margin-left: 6px;
}
#workspaces button {
  padding: 2px 8px;
  color: #fff;
}

#window {
 color: #565c64;
}

#workspaces button.focused {
  color: #24283b;
  background-color: #7aa2f7;
}

#workspaces button:hover {
  background-color: #7dcfff;
  color: #24283b;
}

#custom-date,
#battery,
#network {
  background-color: #1d202e;
  padding: 2px 10px;
  margin: 5px 0px;
}
#pulseaudio {
  background-color: #1d202e;
  padding: 2px 10px;
  margin: 5px 0px;
  border-radius: 5px 0px 0px 5px;
}

#clock{
  background-color: #1d202e;
  padding: 2px 10px;
  margin: 5px 0px;
  border-radius: 0px 5px 5px 0px;
}



#custom-date {
  color: #7dcfff;
}

#custom-power {
  color: #24283b;
  background-color: #db4b4b;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  padding: 3px 10px;
}

#clock {
  color: #bbb9f7;
  margin: 5px;
  margin-left: 0px;
}

#battery {
  background-color: #1d202e;
  color: #9ece6a;
  margin: 5px;
  margin-left: 0px;
  margin-right: 0px;
}

#battery.charging {
  background-color: #1d202e;
  color: #9ece6a;
  margin: 5px;
}

#battery.warning:not(.charging) {
  background-color: #f7768e;
  color: #24283b;
  margin: 5px;
}

#network {
  background-color: #1d202e;
  margin: 5px;
  margin-left: 0px;
  margin-right: 0px;
  color: #f7768e;
}

#pulseaudio {
  margin: 5px;
  margin-right: 0px;
  color: #e0af68;
}

#temperature {
  margin: 5px;
  padding: 0 10px;
  border-radius: 5px;
  color: #82e4ff;
}

#disk {
  background-color: #1d202e;
  color: #b9f27c;
  margin: 5px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0 10px;  
}

#memory {
  background-color: #1d202e;
  margin: 5px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0 10px;
  color: #ff9e64;
}

#cpu {
  background-color: #1d202e;
  margin: 5px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0 10px;
  color: #ff7a93;
  border-radius: 0px 5px 5px 0px;
}

#tray {
  margin: 5px;
  margin-right: 0px;
  margin-left: 0px;
  background-color: #1d202e;
  padding: 0 10px;
  border-radius: 5px 0px 0px 5px;
}

#tray > * {
  padding: 0 2px;
  margin: 0 2px;
}
