* {
  border-radius: 5;
  font-family: "Space Mono Nerd Font";
  font-weight: 600;
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background: rgba(26,27,38, 0.5);
  color: white;
  border: #1d202e solid 2px;
}

#workspaces {
  background-color: #1d202e;
  margin: 5px;
  margin-left: 6px;
}
#workspaces button {
  padding: 2px 8px;
  color: #fff;
}

#workspaces button.focused {
  color: #24283b;
  background-color: #7aa2f7;
}

#workspaces button:hover {
  background-color: #7dcfff;
  color: #24283b;
}

#custom-date,
#clock,
#battery,
#pulseaudio,
#network {
  padding: 2px 10px;
  margin: 5px 0px;
}

#custom-date {
  color: #7dcfff;
}

#custom-power {
  color: #24283b;
  background-color: #db4b4b;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  padding: 3px 10px;
}

#clock {
  color: #b48ead;
  margin: 5px;
}

#battery {
  color: #9ece6a;
  margin: 5px;
}

#battery.charging {
  color: #9ece6a;
  margin: 5px;
}

#battery.warning:not(.charging) {
  background-color: #f7768e;
  color: #24283b;
  margin: 5px;
}

#network {
  margin: 5px;
  color: #f7768e;
}

#pulseaudio {
  margin: 5px;
  color: #e0af68;
}

#temperature {
  margin: 5px;
  padding: 0 10px;
  border-radius: 5px;
  color: #82e4ff;
}

#disk {
  color: #b9f27c;
  margin: 5px;
  padding: 0 10px;
}

#memory {
  margin: 5px;
  padding: 0 10px;
  color: #ff9e64;
}

#cpu {
  margin: 5px;
  padding: 0 10px;
  color: #ff7a93;
}

#tray {
  margin: 5px;
  padding: 0 10px;
}

#tray > * {
  padding: 0 2px;
  margin: 0 2px;
}
